<form class="row gy-2 gx-3 align-items-center">
  <div class="col-auto">
    <input type="text" class="form-control" id="" placeholder="URL">
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>