<div class="text-center">
  <h3>Success! Please use this link:</h1>
    <div class="d-flex align-items-center">
      <div style="margin-right: 10px"><a href="http://localhost:3000/{{urlId}}" class="fs-3"
          id="url">{{url.urlShortener}}</a>
      </div>
      <div><i class="fa-solid fa-copy fa-2xl btn" id="copyBtn"></i></div>
    </div>

</div>